Use a wine dataset from sklearn.datasets to classify wines into 3 categories. Load the datasets and split it into test and train . 
After that train the model using Gaussian and Mukltinomial classifier and post which perform better .
Use the trained model to perform some predictions on test data

In [1]:
import pandas as pd
from sklearn.datasets import load_wine

In [3]:
wine=load_wine()
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [10]:
df=pd.DataFrame(wine.data,columns=wine.feature_names)
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [17]:
y=pd.DataFrame(wine.target,columns=['class'])
y.head()

   class
0      0
1      0
2      0
3      0
4      0

In [19]:
# checking for any nan values
df.columns[df.isna().any()]

Index([], dtype='object')

In [20]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test = tts(df,y,test_size = 0.2)

In [23]:
X_train.shape

(142, 13)

In [24]:
X_test.shape

(36, 13)

In [25]:
df.shape

(178, 13)

In [36]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [37]:
model.score(X_test,y_test)

1.0

In [38]:
from sklearn.naive_bayes import MultinomialNB
model1 = MultinomialNB()
model1.fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

MultinomialNB()

In [39]:
model1.score(X_test,y_test)

0.8888888888888888

In [40]:
model.predict(X_test[:10])

array([1, 1, 0, 1, 1, 1, 0, 0, 2, 0])

In [42]:
model1.predict(X_test[:10])

array([1, 1, 0, 1, 1, 1, 2, 0, 2, 0])

In [43]:
model.predict_proba(X_test[:10])

array([[1.12095077e-09, 9.99999999e-01, 6.24849434e-28],
       [2.89323262e-06, 9.99997107e-01, 4.04369192e-26],
       [9.99999999e-01, 6.14536112e-10, 7.88357580e-32],
       [1.07000755e-11, 1.00000000e+00, 5.98310981e-17],
       [2.09209427e-07, 9.99999791e-01, 2.11180637e-21],
       [2.54923067e-06, 9.99997451e-01, 4.85696547e-21],
       [9.99999898e-01, 1.01855717e-07, 2.43604968e-37],
       [9.99994275e-01, 5.72475251e-06, 3.78507951e-22],
       [1.23541874e-22, 2.10604774e-16, 1.00000000e+00],
       [9.99997623e-01, 2.37694727e-06, 1.79833743e-30]])

In [44]:
model1.predict_proba(X_test[:10])

array([[3.98440069e-12, 9.94658556e-01, 5.34144354e-03],
       [2.83769090e-06, 9.44236568e-01, 5.57605943e-02],
       [1.00000000e+00, 5.23276491e-17, 1.48599828e-13],
       [7.30741035e-10, 9.87966108e-01, 1.20338916e-02],
       [4.52944596e-07, 8.67305539e-01, 1.32694008e-01],
       [1.18108282e-01, 4.75215496e-01, 4.06676222e-01],
       [2.02255294e-02, 4.74553559e-01, 5.05220912e-01],
       [1.00000000e+00, 4.81184433e-15, 1.04644381e-11],
       [1.50827533e-08, 1.84115718e-03, 9.98158828e-01],
       [8.06765895e-01, 2.40008058e-02, 1.69233299e-01]])

In [45]:
print("Gaussian model is performing more accurate then multinomial mode")

Gaussian model is performing more accurate then multinomial mode